<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225424866685-7vik8lbbqi0j70cf8cnh8spo9f53adct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225424866685-7vik8lbbqi0j70cf8cnh8spo9f53adct</string>
	<key>API_KEY</key>
	<string>AIzaSyCZdQmFx5Me4rkIu0P7KOkac9PXT1du60k</string>
	<key>GCM_SENDER_ID</key>
	<string>225424866685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gellelogin</string>
	<key>PROJECT_ID</key>
	<string>gelle-login</string>
	<key>STORAGE_BUCKET</key>
	<string>gelle-login.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225424866685:ios:debd9e4d3b726972632014</string>
</dict>
</plist>